<?xml version="1.0" ?>
<robot name="ball" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="ball">
    <inertial>
      <mass value="0.600"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="3.6e-3" ixy="0" ixz="0" iyy="3.6e-3" iyz="0" izz="3.6e-3"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.123"/>
        <!-- <mesh filename="meshes/ball.obj"/> -->
      </geometry>
      <material name="Orange">
        <color rgba="1.0 0.65 0.0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.123"/>
        <!-- <mesh filename="meshes/ball.obj"/> -->
      </geometry>
      <surface>
	<contact>
	  <kp>100000</kp>
	  <kd>1</kd>
	</contact>
      </surface>
    </collision>
  </link>
</robot>
